<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean class="sample03.BookDAOImpl" id="dao"/>

<bean class="sample03.BookVo" id = "bookVo">
	<constructor-arg value="JSP"/>
	<constructor-arg value="이예진"/>
	<constructor-arg value="3000"/>
	<constructor-arg value="2024-4-25"/>
</bean>

<bean class="sample03.BookController" id="controller">
	<constructor-arg ref="dao"/>
	<constructor-arg ref="bookVo"/>
</bean>

</beans>
