<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:property-placeholder location="classpath:*.properties"/>

	
	
	<bean class="sample05.UserBean" id="user">
		<property name="id" value="${user.id}"/>
		<property name="name" value="${user.uname}"/>
		<property name="addr" value="${user.addr}"/>
		<property name="phone" value="${user.phone}"/>
	</bean>
	
	<bean class="sample05.ProductBean" id="product">
		<property name="pname" value="${product.pname}"/>
		<property name="pno" value="${product.pno}"/>
		<property name="price" value="${product.price}"/>
	</bean>
	
	<bean class="sample05.OrderMessageImpl" id="message">
		<property name="message" value="${order.message}"/>
		<property name="orderId" value="${order.orderId}"/>
		
		<property name="productBean" ref="product"/>
		<property name="userBean" ref="user"/>
	</bean>

</beans>
